/* Index Page */
.index-main {
    height: 100%;
    width: 100%;
}

.index-form {
    height: 90%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.index-logo {
    width: 130px;
}

.index-title {
    margin-top: 10px;
    font-size: 23px;
}

.index-input {
    margin-top: 25px;
    width: 300px;
    height: 35px;
    background-color: #5181B8;
    border-style: solid;
    border-width: 0px;
    color: white;
}

.index-footer {
    height: 10%;
    text-align: center;
}