@import url('grid-12.css');

/* Index Page */
@import url('index.css');

/* Footer */
@import url('footer.css');

/* Self */
@import url('self.css');

/* User */
@import url('user.css');

html, body, #root {
    width: 100%;
    height: 100%;
}


* {
    font-family: 'Open Sans', sans-serif;
}


.main {
    background-color: #ECEDEF;
    width: 100%;
    height: 100%;
}

.content {
    position: relative;
    overflow-y: auto;
    z-index: 5;
    width: 100%;
    height: 95%;
}

.preloader {
    margin: auto auto;
}

/*  sm  */
@media (min-width: 576px) {
}

/*  md  */
@media (min-width: 768px) {
}

/*  lg  */
@media (min-width: 991px) {
}

/*  xl  */
@media (min-width: 1200px) {
}